<header class="header js-header">
  <div class="container">
    <div class="navbar navbar--collapse u-clearfix">
      <div class="logo navbar__logo">
        <a class="logoText" href="/index.html">DIVERSITECHY</a>
      </div>
      <div class="nav navbar__nav">
        <div class="social-bar navbar__social-bar">
          <a class="icon icon-facebook" href="http://facebook.com/diversitechy">
            <i class="fab fa-2x fa-facebook-square"></i>
          </a>
          <a class="icon icon-instagram" href="http://instagram.com/diversitechy">
            <i class="fab fa-2x fa-instagram"></i>
          </a>
          <a class="icon icon-twitter" href="http://twitter.com/diversitechy">
            <i class="fab fa-2x fa-twitter-square"></i>
          </a>
        </div>
        <a href="#" class="nav__contact">
          CONTACT
        </a>
      </div>
    </div>
  </div>
</header>