<div class="row">
  <div class="col-sm-6">
    <div class="logo footer__logo">
      <a class="footerlogoText" href="index.html">DIVERSITECHY</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="footer__nav">
      <div class="social-bar footer__social-bar">
        <a class="icon icon-facebook" href="http://facebook.com/diversitechy">
          <i class="fab fa-2x fa-facebook-square"></i>
        </a>
        <a class="icon icon-instagram" href="http://instagram.com/diversitechy">
          <i class="fab fa-2x fa-instagram"></i>
        </a>
        <a class="icon icon-twitter" href="http://twitter.com/diversitechy">
          <i class="fab fa-2x fa-twitter-square"></i>
        </a>
      </div>
    </div>
  </div>
</div>