/*-------------------------*/
/* $About
---------------------------*/
.about{
    padding-top: 120px;
    padding-bottom: 200px;
}
@media (max-width: 768px){
    .about{
        padding-top: 40px;
        padding-bottom: 120px;
    }
} 
.about__content{
    font-size: 38px;
    line-height: 40px;
    color: #1D4670;
}

.about__text{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 24px;
}
@media (max-width: 768px){
    .about__text{
        line-height: 29px;
    }
} 


/*-------------------------*/
/* $Event Agenda
---------------------------*/
.agenda{
    padding-top: 120px;
    padding-bottom: 120px;
    height: 19rem;
    background-image: url("../background.png");
    background-size: cover;
    background-position: center;
}

.agenda h3 {
    z-index: 5;
}
.agenda:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #184F88, #071A2E);
    opacity: 0.3;
}
@media(max-width: 768px){
    .agenda{
        padding-top: 40px;
        padding-bottom: 120px;
        height: 1580px;
    }
}

.timeline-group {
    margin-top: -184px;
}

@media(max-width: 768px){
    .timeline-group{
        margin-top: 80px;
    }
}

.timeline{
    width: 4px;
    height: 100%;
    background-color: #64B2DF;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,0%);
    box-shadow: 0 3px 16px rgba(0,0,0,0.16);
    z-index: 9;
}

.timeline-card{
    padding: 24px;
    background-color: #fefefe;
    border-radius: 4px;
    width: calc(100% - 24px);
    box-shadow: 0 3px 16px rgba(0,0,0,0.16);
    margin-top: 24px;
    z-index: 9;
}
.timeline-card.first {
    margin-top: 0;
}
.timeline-card:before{
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: 0 3px 16px rgba(0,0,0,0.16);
    background-color: #64B2DF;
    position: absolute;
    top: 50%;
    left: -16px;

    transform: translate(-50%,-50%);
}


.timeline-card__text{
    margin: 0;
}
@media (max-width: 768px){
    .timeline-cards {
        margin: 24px;
    }
    .timeline{
        left: 24px;
    }
    .timeline-card{
        width: 100%;
        margin-bottom: 24px;
    }
    
}

.timeline-card__time {
    font-size: 18px;
    margin: 0;
}
.timeline-card__event {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    margin-top: 16px;
}

/*-------------------------*/
/* $Resources
---------------------------*/
.resources{
    padding-top: 160px;
    padding-bottom: 40px;
}
@media (max-width: 768px){
    .resources{
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.resource-group{
    padding-bottom: 80px;
}

.resource-card{
    margin-bottom: 32px;
}
.resource-card__inner{
    background-color: rgba(101,178,223,.04);
    border-radius: 4px;
    padding: 54px 24px 32px 24px;
    padding-left: 120px;
}
.resource-card__title{
    font-size: 18px;
    color: #333;
    font-family:'Helvetica', 'roboto', arial, sans-serif;
    margin-top: 0;
    margin-bottom: 8px;
}
.resource-card__text{
    margin: 0;
    line-height: 1.5;
    color: #666;
}
.resource-card__icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    left: 32px;
    top: 32px;
}
.resource-card__icon .image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 60%;
    max-height: 60%;
}
@media (max-width: 768px){
    .resource-card__icon{
        top: 0;
        left: 50%;
        transform: translate(-50%,0%);
    }
    .resource-card{
        padding: 0;
        margin-top: 40px;
    }
    .resource-card__inner{
        padding: 24px;
        padding-top: 80px;
        text-align: center;
    }
    .resource-group{
        padding-bottom: 0;
        padding-top: 0px;
    }
}

.resource-list{
    padding-top: 80px;
}
.resource-item{
    margin-bottom: 160px;
}
.resource-item__text{
    padding-top: 24px;
}
.resource-item__text--right{
    text-align: right;
}
.resource-item__title{
    font-size: 40px;
    font-family:'Helvetica', 'roboto', arial, sans-serif;
    color: #484848;
}
.resource-item__title--right{
    margin-right: -80px;
}
.resource-item__title--left{
    margin-left: -80px;
}
.resource-item__intro{
    font-size: 16px;
    line-height: 32px;
}

.resources .resources-group .row{
       width: 100%;
    }

@media (max-width: 1024px) {
    .resources .resources-group .row{
       width: 100%;
    }
}
@media(max-width: 768px){
    .resource-group {
        margin-left: 24px;
        margin-right: 24px;
    }
    .resource-item{
        margin-bottom: 48px;
    }
    .resource-item__text--right{
        text-align: left;
    }
    .resource-item__title{
        font-size: 24px;
        line-height: 32px;
        margin-top: 0;
        margin-bottom: 8px;
    }
    .resource-item__title--right{
        margin-right: 0;
    }
    .resource-item__title--left{
        margin-left: 0;
    }
}


/*-------------------------*/
/* $Sponsors
---------------------------*/
.sponsors{
    padding-top: 40px;
}
@media (max-width: 768px){
    .sponsors{
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.sponsor-subtitle {
    font-weight: 400;
    margin: 0;
    margin-bottom: 16px;
    margin-left: 16px;
}
@media (max-width: 768px) {
    .sponsor-subtitle {
        text-align: center;
    }
}
.sponsors .sponsor-row {
    margin-bottom: 40px;
}
.sponsor-links {
    text-align: center;
}
.sponsor-links a {
    text-decoration: underline;
}
.logo-card {
    height: 120px;
}

.logo-card .logo-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 60%;
    max-height: 60%;
}

.logo-card.emplomacy-bg {
    background-color: #484848;
    border-radius: 2px;
}
.logo-card.redbrick-bg {
    background-color: #343540;
    border-radius: 2px;
}
.logo-card.alacrity-bg {
    background-color: #16152B;
    border-radius: 2px;
}
.logo-image.semaphore-bg {
    background-color: #142D40;
    border-radius: 2px;
    padding: 0.5rem 1rem;
}
@media (max-width: 768px) {
    .logo-card.emplomacy-bg, .logo-card.redbrick-bg {
        margin-bottom: 24px;
    }

}